body {
  margin: 0;padding: 0;box-sizing: border-box;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media print {
  @page {
    size: 270mm 297mm;
  }
}

.adminpage h1{
  display: flex;justify-content: center;/* border-bottom: 2px solid black; */
  margin: 10px 0;padding: 10px;color: #071952;font-weight: bolder;
}
.adminpage-content{
  display: flex;justify-content: center;text-align: center;margin: 0 50px;padding: 0 50px;
}
.updatepage-content{
  display: flex;justify-content: center;text-align: center;align-items: center;
}
.updatepage-table{
  border-spacing:0 15px; border-collapse: collapse;
}
.update-btn{
  display: flex;justify-content: center;margin-top: 20px;font-size: 18px;
}
.update-btn button{
  background: #071952;border: none;border-radius: 5px;width: 150px;height: 30px;
}
.update-btn button a{
  color: white;text-decoration: none;
}
.update-btn button:hover{
  background-color: #172e7d;
}
/* table {
 border-collapse:separate;
} */
.adminpage-table{
  border-spacing:0 15px; border-collapse: collapse;
}
.adminpage hr{
  height: 2px;background-color: black;margin-bottom: 20px;border: 1px solid 071952;
}
.heading {
  background-color:#071952 /* green */;
  Color:white; width:100px;border:1px solid black;padding:10px;
}
.data{
  width:150px;border:1px solid black;padding:5px;font-weight: bold;
}
.btn-1{
  display: flex;justify-content: space-around;margin: 0 15px;margin-bottom: 10px;
}
.search{
  display: flex;justify-content: center;
}

.search input{
  font-size: 15px; border-radius: 5px;width:300px;border: 2px solid black;height: 30px;
  font-weight: bold;margin:0 20px;padding-left: 10px;
}
.sort .sort-option{
  outline: none;font-size: 15px; border-radius: 5px;border: 2px solid black;
   padding: 5px;background-color: white;color: black;font-weight: bold;
}
.sort .button{
  outline: none;font-size: 15px; border-radius: 5px;width:100px;border: none;margin: 0 10px;
   padding: 5px;background-color: #071952;color: white;font-weight: bold;height: 35px;
}
.sort .button a{
  color: white;
}
.sort .button:hover{
  background-color: #172e7d;color: white;
}
.btn{
  margin:0 10px;
  width:100px;height: 35px;background-color: #071952;color: white;font-weight: bold;
  outline: none; border: none;border-radius: 5px;font-size: 15px;
}
.btn:hover{
  background-color: #172e7d;color: white;
}
.save{
  display: flex;justify-content: center;margin: 20px;
}
.save-button{
  width:200px;height: 35px;background-color: #071952;color: white;font-weight: bold; border: none;border-radius: 5px;
  
}
.save-button:active{
  background-color: #172e7d;color: white;
}
.date{
  display: flex;justify-content: center;margin: 10px;align-items: center;font-size: 15px;
}
.data1{
  width:80px;border:1px solid black;padding:5px;font-weight: bold;font-size: 15px;
}
.date-button{
  background-color: white;color: #071952;border: 2px solid #071952;
  border-radius: 5px;margin: 0 10px;font-weight: bold;height: 200px;width:80px; font-size: 15px;
}
.date-button:hover{
  background-color: #172e7d;color: white;
}
.date-button:active{
  background-color: #172e7d;color: white;
}






@media screen and (max-width:912px) {
  .heading {
    background-color:#071952 /* green */;font-size: 15px;
    Color:white; width:80px;border:1px solid black;padding:20px;
  }
  .data{
    width:100px;border:1px solid black;padding:5px;font-weight: bold;font-size: 14px;
  }
  .data1{
    width:80px;border:1px solid black;padding:5px;font-weight: bold;font-size: 14px;
  }
  .btn-1{
    display: flex;justify-content: space-between;margin: 0 25px;margin-bottom: 10px;
  }
  
  .sort .sort-option{
    outline: none;border: none;font-size: 15px; border-radius: 5px;width:100px;
     padding: 5px;background-color: #172e7d;color: white;font-weight: bold;height: 35px;
  }
  
  .btn{
    width:100px;height: 35px;background-color: #071952;color: white;font-weight: bold; border: none;border-radius: 5px;
  }
}
@media screen and (max-width:870px) {
  .heading {
    background-color:#071952 /* green */;font-size: 12.5px;
    Color:white; width:80px;border:1px solid black;padding:20px;
  }
  .data{
    width:100px;border:1px solid black;padding:5px;font-weight: bold;font-size: 12px;
  }
  .data1{
    width:70px;border:1px solid black;padding:5px;font-weight: bold;font-size: 12px;
  }
  .update-btn{
    display: flex;justify-content: center;margin-top: 20px;font-size: 12px;
  }
  .update-btn button{
    background: #071952;border: none;border-radius: 5px;width: 100px;height: 30px;
  }
}
@media screen and (max-width:801px) {
  .heading {
    background-color:#071952 /* green */;font-size: 12px;
    Color:white; width:80px;border:1px solid black;padding:20px;
  }
  .data{
    width:100px;border:1px solid black;padding:5px;font-weight: bold;font-size: 12px;
  }
  .data1{
    width:70px;border:1px solid black;padding:5px;font-weight: bold;font-size: 12px;
  }
}
@media screen and (max-width:774px) {
  .adminpage-table{
    border-spacing:0 5px; border-collapse: collapse;
  }
  .heading {
    background-color:#071952 /* green */;font-size: 10px;
    Color:white; width:80px;border:1px solid black;padding:10px;
  }
  .data{
    width:100px;border:1px solid black;padding:5px;font-weight: bold;font-size: 10px;
  }
  .btn-1{
    display: flex;justify-content: space-between;margin: 0 25px;margin-bottom: 10px;
  }
  .data1{
    width:70px;border:1px solid black;padding:5px;font-weight: bold;font-size: 10px;
  }
  .sort .sort-option{
    outline: none;border: none;font-size: 10px; border-radius: 5px;width:100px;
     padding: 5px;background-color: #172e7d;color: white;font-weight: bold;height: 35px;
  }
  
  .btn{
    width:100px;height: 35px;background-color: #071952;font-size: 10px;
    color: white;font-weight: bold; border: none;border-radius: 5px;
  }
  .sort .button{
    outline: none;font-size: 10px; border-radius: 5px;width:100px;border: none;margin: 0 10px;
     padding: 5px;background-color: #071952;color: white;font-weight: bold;height: 35px;
  }
  .save{
    display: flex;justify-content: center;margin: 20px;
  }
  .save-button{
    width:100px;height: 35px;background-color: #071952;color: white;
    font-weight: bold; border: none;border-radius: 5px;font-size: 10px;
    
  }
  .save-button:active{
    background-color: #172e7d;color: white;
  }
}
@media screen and (max-width:584px) {
  .adminpage-table{
    border-spacing:0 5px; border-collapse: collapse;
  }
  .heading {
    background-color:#071952 /* green */;font-size: 10px;
    Color:white; width:80px;border:1px solid black;padding:7px;
  }
  .data{
    width:100px;border:1px solid black;padding:5px;font-weight: bold;font-size: 10px;
  }
  .data1{
    width:70px;border:1px solid black;padding:5px;font-weight: bold;font-size: 10px;
  }
  .btn-1{
    display: flex;justify-content: space-between;margin: 0 25px;margin-bottom: 10px;
  }
  .sort .sort-option{
    outline: none;border: none;font-size: 8px; border-radius: 5px;width:90%;
     padding: 5px;background-color: #071952;color: white;font-weight: bold;height: 20px;
  }
  
  .btn{
    width:70px;background-color: #071952;font-size: 8px; outline: none;height: 25px;
    color: white;font-weight: bold; border: none;border-radius: 5px;padding: 5px;text-align: center;
  }
  .sort .button{
    outline: none;font-size: 8px; border-radius: 5px;width:70px;border: none;
     padding: 5px;background-color: #071952;color: white;font-weight: bold;height: 20px;
  }
  .save{
    display: flex;justify-content: center;margin: 20px;
  }
  .save-button{
    width:100px;height: 20px;background-color: #071952;color: white;
    font-weight: bold; border: none;border-radius: 5px;font-size: 8px;
    
  }
  .save-button:active{
    background-color: #172e7d;color: white;
  }
  .update-btn{
    display: flex;justify-content: center;margin-top: 20px;font-size: 8px;
  }
  .update-btn button{
    background: #071952;border: none;border-radius: 5px;width: 80px;height: 20px;
  }
}

@media screen and (max-width:512px) {
  .adminpage h1{
    display: flex;justify-content: center;
    margin: 10px 10px;color: #071952;font-size: 20px;
  }
  .adminpage{
    width: 500px;
  }
  .adminpage-content{
    display: flex;justify-content: center;text-align: center;
  }

  .adminpage-table{
     border-collapse: collapse;
  }
  .adminpage hr{
   height: 2px;border-radius: 10px;background-color: black;margin-bottom: 10px;
  }
  .heading {
    background-color:#071952 ;
    Color:white; border:1px solid black;font-size: 7px;
  }
 
  .data {
    width:90px;border:1px solid black;padding:5px;font-weight: bold;font-size: 7px;
  }
  .data1{
    width:70px;border:1px solid black;padding:5px;font-weight: bold;font-size: 7px;
  }
  .btn-1{
    display: flex;justify-content: space-between;margin: 0 25px;margin-bottom: 10px;
  }
  
  .sort .sort-option{
    outline: none;border: none;font-size: 8px; border-radius: 5px;width:100%;
     padding: 5px;background-color: #172e7d;color: white;font-weight: bold;height: 20px;
  }
  
  .btn{
    width:70px;height: 20px;background-color: #071952;font-size: 8px;
    color: white;font-weight: bold; border: none;border-radius: 5px;
  }
  .update-btn{
    display: flex;justify-content: center;margin-top: 20px;font-size: 8px;
  }
  .update-btn button{
    background: #071952;border: none;border-radius: 5px;width: 70px;height: 20px;
  }
}
@media screen and (max-width:430px) {
  .adminpage h1{
    display: flex;justify-content: center;
    margin: 10px 100px;color: #071952;font-size: 20px;
  }
 
  .adminpage-content{
    display: flex;justify-content: center;text-align: center;margin: 0 5px;
  }

  .adminpage-table{
     border-collapse: collapse;
  }
  .adminpage hr{
    height: 2px;border-radius: 10px;background-color: black;margin-bottom: 10px;
  }
  .heading {
    background-color:#071952 ;
    Color:white; border:1px solid black;font-size: 6px;
  }
 
  .data {
    width:70px;border:1px solid black;padding:5px;font-weight: bold;font-size: 7px;
  }
  .btn-1{
    display: flex;justify-content: space-between;margin: 0 25px;margin-bottom: 10px;
  }
  
  .sort .sort-option{
    outline: none;border: none;font-size: 8px; border-radius: 5px;width:100%;
     padding: 5px;background-color: #172e7d;color: white;font-weight: bold;height: 20px;
  }
  
  .btn{
    width:70px;height: 20px;background-color: #071952;font-size: 8px;
    color: white;font-weight: bold; border: none;border-radius: 5px;margin-top:5px;
  }
  .sort .button{
    outline: none;font-size: 8px; border-radius: 5px;width:70px;border: none;margin: 0 10px;
     padding: 5px;background-color: #071952;color: white;font-weight: bold;height: 20px;
  }
  .save{
    display: flex;justify-content: center;margin: 20px;
  }
  .save-button{
    width:100px;height: 20px;background-color: #071952;color: white;
    font-weight: bold; border: none;border-radius: 5px;font-size: 8px;
    
  }
  .save-button:active{
    background-color: #172e7d;color: white;
  }
  .update-btn{
    display: flex;justify-content: center;margin-top: 20px;font-size: 8px;
  }
  .update-btn button{
    background: #071952;border: none;border-radius: 5px;width: 80px;height: 20px;
  }
}
@media screen and (max-width:390px) {
  .adminpage h1{
    display: flex;justify-content: center;
    margin: 10px 10px;color: #071952;font-size: 20px;
  }
  .adminpage{
    width: 500px;
  }
  .adminpage-content{
    display: flex;justify-content: center;text-align: center;margin: 0 5px;
  }

  .adminpage-table{
     border-collapse: collapse;
  }
  .adminpage hr{
    height: 2px;border-radius: 10px;background-color: black;margin-bottom: 10px;
  }
  .heading {
    background-color:#071952 ;
    Color:white; border:1px solid black;font-size: 6px;
  }
 
  .data {
    width:60px;border:1px solid black;padding:5px;font-weight: bold;font-size: 6px;
  }
  .data1{
    width:50px;border:1px solid black;padding:5px;font-weight: bold;font-size: 6px;
  }
  .btn-1{
    display: flex;justify-content: space-between;margin: 0 25px;margin-bottom: 10px;font-size: 6px;
  }
  
  .sort .sort-option{
    outline: none;border: none;font-size: 8px; border-radius: 5px;width:100%;
     padding: 5px;background-color: #172e7d;color: white;font-weight: bold;height: 20px;
  }
  
  .btn{
    width:70px;height: 20px;background-color: #071952;font-size: 8px;
    color: white;font-weight: bold; border: none;border-radius: 5px;
  }
  .sort .button{
    outline: none;font-size: 8px; border-radius: 5px;width:70px;border: none;margin: 0 10px;
     padding: 5px;background-color: #071952;color: white;font-weight: bold;height: 20px;
  }
  .save{
    display: flex;justify-content: center;margin: 20px;
  }
  .save-button{
    width:100px;height: 20px;background-color: #071952;color: white;
    font-weight: bold; border: none;border-radius: 5px;font-size: 8px;
    
  }
  .save-button:active{
    background-color: #172e7d;color: white;
  }
  .update-btn{
    display: flex;justify-content: center;margin-top: 20px;font-size: 8px;
  }
  .update-btn button{
    background: #071952;border: none;border-radius: 5px;width: 80px;height: 20px;
  }
}